header {
    background: #3B5998;
    height: 100px;
    color: white;
}

.imgDiv {
    width: 60%;
    height: 100%;
    float: left;
}

.loginBtn {
    background: cornflowerblue;
    color: white;
    border-color: #3B5998;
    margin: 0px auto;
}

.loginTable {
    padding: 15px;
}

main {
    display: flex;
}


.articleLeft {
    background: #EDF0F5;
    padding: 40px;
    flex: 7;
}

h2 {
    margin: 0px;
    width: 400px;
}

.leftImg {
    width: 40px;
    height: 40px;
    float: left;
}

.leftSection {
    margin: 40px;
    text-align: justify;
}

.leftSection span {
    height: 40px;
}

.articleRight {
    background: #EDF0F5;
    padding: 20px;
    flex: 5;
}

.articleRight h1 {
    margin-bottom: 0px;
}

.nameInput {
    width: 25%;
    height: 35px;
    border-radius: 3px;
    border: white;
    padding-left: 7px;
}

.singFormInput {
    width: 52%;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;
    border: white;
    padding-left: 7px;
}

.articleRight div {
    margin-top: 20px;
}

footer {
    padding: 80px;
}

footer a {
    padding-left: 5px;
}
